<div (click)="slot_allot()">
        <div>
            <img src="assets/img/avatars/book1.png" style="width:100%;height:100%;margin-top:-40px;">
        </div>
        <div>
            <img src="assets/img/avatars/carr.png" style="width:100%;height:100%;">
            <img src="assets/img/avatars/car2.png" style="width:100%;height:100%;">
            <!-- <img src="assets/img/avatars/app2.png" style="width:100%;height:100%;"> -->
            
        
            <!--<img src="assets/img/avatars/book1.png" style="width:100%;height:100%;">-->
        </div>
        <div>
            <br><br>
               <div>
                    <strong style="margin-right:-50px;margin-bottom:50px;font-size:15px;">Parking guide:</strong>
                </div>
        </div>
        <div class="row">
               
                
                <div class="col-md-4">
                    <div>
                        <img src="assets/img/avatars/hyderabad.jpeg" style="width:100%;height:50%;">
                    </div>	
                    <div>
                        <p style="font-size:15px; margin-left:145px;">Hyderabad</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="assets/img/avatars/bangalore.jpg" style="width:100%;height:50%;">
                    </div>	
                    <div>
                        <p style="font-size:15px; margin-left:145px;">Bangalore</p>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div>
                            <img src="assets/img/avatars/kolkata.jpg" style="width:100%;height:50%;">
                        </div>	
                        <div>
                            <p style="font-size:15px; margin-left:145px;">Kolkata</p>
                        </div>
                </div>
                <div class="col-md-4">
                    <div>
                            <img src="assets/img/avatars/jaipur.jpg" style="width:100%;height:170px;">
                        </div>	
                        <div>
                            <p style="font-size:15px; margin-left:145px;">Jaipur</p>
                        </div>
                </div>
                <div class="col-md-4">
                    <div>
                            <img src="assets/img/avatars/mumbai.png" style="width:100%;height:170px;">
                        </div>	
                        <div>
                            <p style="font-size:15px; margin-left:145px;">Mumbai</p>
                        </div>
                </div>
                <div class="col-md-4">
                    <div>
                            <img src="assets/img/avatars/pune.jpg" style="width:100%;height:170px;">
                        </div>	
                        <div>
                            <p style="font-size:15px; margin-left:145px;">Pune</p>
                        </div>
                </div>
        </div>  
        
        <div class="row">
            <div class="col-md-12">
            <hr/>
            </div>
        </div>
        <div>
            <img src="assets/img/avatars/park1.png" style="width:100%;height:100%;">
           
        
               <img src="assets/img/avatars/app12.png" style="width:100%;height:100%;">
               
        
        </div>
        </div>